*~
*.bak
*.log
.*.sw[a-z]
\#*\#
.\#*
*.tmp
*.gz

/build/
CMakeFiles/*
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeCache.txt
CMakeLists.txt.user
tags

hexanoise/version.hpp
hexanoise/tokens.cpp
hexanoise/tokens.hpp
hexanoise/parser.cpp
hexanoise/parser.hpp
install/hexahedra-server.rc

hexanoise.json
manifest.json
.excludes

