Source: hexanoise
Maintainer: Nocte <nocte@hippie.nu>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8), cdbs, libboost-dev (>= 1.47), bison, flex, zlib1g-dev, opencl-headers, libglm-dev, libpng12-dev, ocl-icd-dev, ocl-icd-libopencl1, ocl-icd-opencl-dev
Standards-Version: 3.9.4
Homepage: http://github.com/Nocte-/noise

Package: libhexanoise1-dev
Section: libdevel
Architecture: any
Depends: libhexanoise1 (= ${binary:Version}), ${misc:Depends}
Description: Hexahedra coherent noise library (development files)
 Coherent noise library for procedural terrain generation.

Package: libhexanoise1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hexahedra coherent noise library
 Coherent noise library for procedural terrain generation.

