Source: noise
Maintainer: Nocte <nocte@hippie.nu>
Section: libs
Priority: optional
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8), cdbs
Standards-Version: 3.9.4
Homepage: http://github.com/Nocte-/noise

Package: libnoise1-dev
Section: libdevel
Architecture: any
Depends: libnoise1 (= ${binary:Version}), ${misc:Depends}
Description: Noise library (development files)
 Coherent noise library.

Package: libnoise1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Noise library
 Coherent noise library.

